<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:reg="http://www.letv.com/schema/flying-bird/reg"
    xmlns:reference="http://www.letv.com/schema/flying-bird/reference"
    xmlns:service="http://www.letv.com/schema/flying-bird/service"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.letv.com/schema/flying-bird/reg
                        http://www.letv.com/schema/flying-bird/reg/reg.xsd
                        http://www.letv.com/schema/flying-bird/reference
                        http://www.letv.com/schema/flying-bird/reference/reference.xsd
                        http://www.letv.com/schema/flying-bird/service
                        http://www.letv.com/schema/flying-bird/service/service.xsd
                        ">
    <reference:reference id="birdService"
        class="test.org.flying.bird.spring.Service" retries="0"
        loadblance="roundrobin" timeout="1000" registry="regCenter"
        cluster="failfast" />

</beans>
